.doingshead{
    background-color: var(--bluebg);
    height: 50vh;

   .inner{
        position: relative;
        display: flex;
        justify-content: center;
        padding: 0 8%;
        img{
            // position: absolute;
            width: 100%;
        }
        .left{
            width: 90%;

            .writeup{
                background-color: #D9D9D9;
                padding: 4% 6%;
                height: 50vh;
                h2{
                    line-height: 60px;
                }
            }
        }
        .right{
            margin-top: 50vh;
            background-color: #00000017;
            padding: 2% 3% 0.5%;
            height: max-content;

            h3{
                text-align: center;
                line-height: 40px;
            }

            .doingsf{
                margin-top: 4%;
                input{
                    width: 100%;
                    margin-top: 2px;
                    font-size: 20px;
                    border: none;
                    background-color: transparent;
                    border-bottom: 1px solid black;
                }
            }
            .doingssubmit{
                text-align: center;
                padding-top: 15%;
                .button{
                    width: 60%;
                    padding: 10px 30px;
                    margin: auto;
                }
            }
            .doingscheck{
                text-align: center;
                padding-top: 5%;
            }
            .show{
                display: block;
                color: maroon;
            }
            .check{
                display: none;
            }
            
        }
   }
   
}