.register{
    padding: 3%;
    text-align: center;

    h2{
        line-height: 54px;
        font-size: 36px;
    }
    .zipt{
        width: 50%;
        margin: 5% auto 15%;
    }
    form{
        text-align: left;
        padding: 1% 10%;
    }
}