.navbar{
    background-color: #FFD700;
    

    ul{
        list-style: none;
        padding: 7px;
        display: flex;
        justify-content: flex-end;
        .navlinks{
            font-size: 16px;
            color: black;
            margin: 0 10px;
        }
    }
}
.navbarbg{
    background-color: var(--yellow);
    position: fixed;
    width: 100vw;
    z-index: 50;
    transition: 0.8s ease-in-out;
}