*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    
}

:root{
    --bluebg: #2F303A;
    --yellow: #FFD700;
    --yellowhover: #ffd900dc;
}

a{
    text-decoration: none;
    color: black;
}

input:focus{
    outline: none;
}
#b1{
    bottom: 0;
    right: 0;
}


#b1,#b2,#b3,#b4,#b5,#b6{
    position: absolute;
}

.button{
    padding: 15px 40px;
    background-color: var(--yellow);
    border-radius: 15px;
    font-weight: 600;
    border: none;
    cursor: pointer;
}
.button:hover{
    background-color: var(--yellowhover);
}

.info{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    
    .f{
        margin-top: 5%;
        width: 50%;
    }

    input{
        width: 90%;
        font-size: 20px;
        // color: #BBB7B7;
        margin-top: 10px;
        border: none;
        background-color: transparent;
        border-bottom: 1px solid black;
        
    }

}


.check{
    display: flex;
    padding: 5% 0;
    input{
        cursor: pointer;
    }
    p{
        margin-left: 2%;
        a{
            text-decoration: underline;
        }
    }
}