*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    
}

:root{
    --bluebg: #2F303A;
    --yellow: #FFD700;
}

a{
    text-decoration: none;
    color: black;
}